<div style="margin-left: 100px;">
  <div class="contains">
    <div class="texts">
      CG Protect Form
      <i class="far fa-share-alt" style="margin-left:900px;width:100"></i>&nbsp;
      <img src="/assets/whatsapp.webp" style="margin-left:10px;margin-right:20px" width="40" height="40">
    </div>
    <div class="parag">
      Health Insurance Limited have Joined hands to bring you the benefits of health and life insurance
      <br>
      in a comprehensive and affordable Click 2 Protect Health.So nothing Comes in the way as
      <br>
      You and Your Family lead a life of pride.
      <div>
        <br>
        <button class="buttons rounded-4 btn btn-outline-info m-2">GET QUOTE</button>
        <button class="buttons btn btn-outline-dark rounded-4 " type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Calculate Premium</button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h4 id="offcanvasRightLabel" style="font-weight: 800;font-size:large;">Calculate Premium</h4>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <h4 class="m-2" style="font-size: small;"> Select Family Members that you want to cover for</h4>

          <div style="margin-left: 30px;"><input type="checkbox"> Self

            <mat-slider style="width: 50px;margin-left: 60px;">
              <input matSliderThumb>
            </mat-slider>
            <div style="margin-left: 90px;">18 Yr <a style="margin-left: 80px;">100yr</a></div>

            <div>
              <input type="checkbox"> Spouse
              <label for="customRange1" class="form-label"> </label>
            </div>

            <div>
              <input type="checkbox"> Daughter
              <label for="customRange1" class="form-label"> </label>
            </div>

            <div>
              <input type="checkbox"> son
              <label for="customRange1" class="form-label"> </label>
            </div>

            <div>
              <input type="checkbox"> Mother
              <label for="customRange1" class="form-label"> </label>
            </div>
            <div>
              <input type="checkbox"> Father
              <label for="customRange1" class="form-label"> </label>
            </div>

          </div>
          <br>
          <div style="margin-left: 20px;color: rgb(128, 125, 125);">
            Payment Frequency
          </div>
          <div>
            <button type="button" class="btn btn-outline-secondary" style="width: 80px;margin-left: 20px;">1
              Year</button>
            <button type="button" class="btn btn-outline-secondary" style="margin-left: 40px;">2 Years</button>
            <button type="button" class="btn btn-outline-secondary" style="margin-left: 40px;">3 Years</button>
          </div>
          <br>
          <div style="margin-left: 20px;">
            Cover for
          </div>
          <div style="font-weight: bold;margin-left: 30px;">1
          </div>
          <div>
            <mat-slider style="margin-left: 30px;height: 50px;">
              <input matSliderThumb>
            </mat-slider>
          </div>
          <div style="margin-left: 20px;">1 Yr <a style="margin-left:250px;">100yr</a></div>
          
          <div style="margin-left: 30px;">
            <input type="checkbox"> CG- Protect
            <label for="customRange1" class="form-label"> </label>
          </div>

          <div style="margin-left: 30px;">
            <input type="checkbox"> Care sheild
            <label for="customRange1" class="form-label"> </label>
          </div>
          <div>
            <br>
            <button type="button" class="" style="margin-left: 30px;width: 90%; background-color: rgb(48, 48, 99);" data-bs-toggle="button" aria-pressed="true"><p style="color: white;">Your Premium  </p> <a style="color: white;font-weight: bold;">$1500/Month</a></button>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="contain">
    <u class="texts">Eligibility</u>
    <a class="" style="margin-left: 90px;color: rgb(151, 147, 137);">Benefits</a>
    <a style="margin-left: 90px;color: rgb(151, 147, 137);">Servicing</a>
    <a style="margin-left: 90px;color: rgb(151, 147, 137);">Investors</a>

    <div class="tab m-3" style="margin-left: 60px;width: 80%;">
      <table class="table  align-middle table-bordered">
        <thead class="texts">
          <tr class="table-dark">
            <th scope="col">Eligibility Criteria</th>
            <th scope="col">Life Options</th>
            <th scope="col">Income Replacement, Return of premium</th>
            <th scope="col">Life Long Protection</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>MIN AGE AT ENTRY</td>
            <td>18 years</td>
            <td>18 years</td>
            <td>25 years</td>
          </tr>
          <tr>
            <td>MAx AGE AT ENTRY</td>
            <td>65 Years</td>
            <td>65 Years</td>
            <td>65 Years</td>
          </tr>
          <tr>
            <td>MIN POLICY TERM</td>
            <td>(85 Years -Age at Entry)</td>
            <td>40 Years</td>
            <td>Whole Of Life</td>
          </tr>
          <tr>
            <td>Premium Payment Mode</td>
            <td>Single Pay,Regular Pay,Limited Pay : 5 Yrs to 84</td>
            <td>Single Pay,Regular Pay,Limited Pay : 5 Yrs to 39</td>
            <td>Whole Of Life</td>
          </tr>
          <tr>
            <td>Premium Payment</td>
            <td>Single,Annual,Semi-Anuual,Quarterly,Monthly</td>
            <td>Single,Annual,Semi-Anuual,Quarterly,Monthly</td>
            <td>Limited Pay:(65 Age Entry or(75- Age Entry))</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>