<div class="container">
    <i class="fa-solid fa-less-than" style="margin-top: 10px;"></i>&nbsp; &nbsp;
    <span class="text" style="font-weight: bolder; margin-top: 10px;">New Leads</span>
  </div>
  <div><br></div>
  <div class="container">
    <select class="dropdown">
      <option>All Policies</option>
      <option>Health</option>
      <option>Documents</option>
      <option>Gallery</option>
    </select>
    <select class="dropdown">
        <option>All Policies</option>
        <option>Health</option>
        <option>Documents</option>
        <option>Gallery</option>
      </select>
      <span class="textbox uw-progress" >Qualified</span>
    <span class="textbox submitted" >Interested</span>
    <span class="newlead" (click)="form_one()">Add New Lead</span>
  </div>
  <br>
  <table class="table table-striped">
    <thead>
      <tr style="background-color: rgb(250, 245, 245);">
        <th>Name</th>
        <th>Last Contacted</th>
        <th>Product</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Lead Stage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><i class="fas fa-user-circle" style="font-size: 20px;"></i> &nbsp; Kirti Gupta</td>
        <td>3 days ago</td>
        <td>Term Insurance</td>
        <td>kirtigup@gmail.com</td>
        <td>(91) 87634524354</td>
        <td id="stage">Contacted</td>
        <td><i class="far fa-envelope" style="color: rgb(120, 200, 232); font-size: 20px;"></i></td>
      </tr>
      <tr>
        <td><i class="fas fa-user-circle" style="font-size: 20px;"></i> &nbsp; Kirti Gupta</td>
        <td>3 days ago</td>
        <td>Term Insurance</td>
        <td>kirtigup@gmail.com</td>
        <td>(91) 87634524354</td>
        <td id="stage">Contacted</td>
        <td><i class="far fa-envelope" style="color: rgb(120, 200, 232); font-size: 20px;"></i></td>
      </tr>
      <tr>
        <td><i class="fas fa-user-circle" style="font-size: 20px;"></i> &nbsp; Kirti Gupta</td>
        <td>3 days ago</td>
        <td>Term Insurance</td>
        <td>kirtigup@gmail.com</td>
        <td>(91) 87634524354</td>
        <td id="stage">Contacted</td>
        <td><i class="far fa-envelope" style="color: rgb(120, 200, 232); font-size: 20px;"></i></td>
      </tr>
      <!-- add more rows as needed -->
    </tbody>
  </table>
 
