<div class="container">
    <i class="fa-solid fa-less-than" style="font-weight: bolder; margin-top: 10px;"></i>&nbsp; &nbsp;
    <span class="text" style="font-weight: bolder; margin-top: 10px;">Expired</span>
</div>
<div><br></div>
<div class="container">
    <select class="dropdown">
        <option>All Policies</option>
        <option>Health</option>
        <option>Documents</option>
        <option>Gallery</option>
    </select>
    <select class="dropdown">
        <option>All Policies</option>
        <option>Health</option>
        <option>Documents</option>
        <option>Gallery</option>
    </select>
</div>
<br>
<table class="table table-striped">
    <thead>
        <tr style="background-color: rgb(250, 245, 245);">
            <th>ID</th>
            <th>Name &nbsp; <i class="fa-sharp fa-solid fa-up-down"></i></th>
            <th>Insurance</th>
            <th>Contact</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>212</td>
            <td>Kriti Gupta</td>
            <td>Corona Kavach</td>
            <td>(91) 87634524354</td>
            <td id="status">Expired</td>
            <td>12/03/2021</td>
            <td><i class="far fa-envelope" style="color: rgb(120, 200, 232); font-size: 20px;"></i></td>
        </tr>
        <tr>
            <td>212</td>
            <td>Kriti Gupta</td>
            <td>Corona Kavach</td>
            <td>(91) 87634524354</td>
            <td id="status">Expired</td>
            <td>12/03/2021</td>
            <td><i class="far fa-envelope" style="color: rgb(120, 200, 232); font-size: 20px;"></i></td>
        </tr>
        <tr>
            <td>212</td>
            <td>Kriti Gupta</td>
            <td>Corona Kavach</td>
            <td>(91) 87634524354</td>
            <td id="status">Expired</td>
            <td>12/03/2021</td>
            <td><i class="far fa-envelope" style="color: rgb(120, 200, 232); font-size: 20px;"></i></td>
        </tr>
        <!-- add more rows as needed -->
    </tbody>
</table>