<div class="card">
    <div class="card-header">
      <div class="div1"><i class="fas fa-user-circle"></i>
      <div class="div2">
        <a style="margin-top: 10px;">John Abraham</a>
        <br>
        <a style="margin-top: 10px; font-size: 15px; color: gray;">8977665654</a>
      </div>
    </div>
    <div class="icon">
      <i class="far fa-edit"></i> &nbsp;
      <i class="fas fa-phone-square"></i> &nbsp;
      <i class="fas fa-envelope"></i>
    </div>
    </div>
    <div class="card-body">
      <div class="row">
      <div class="col" style="color: gray;">Product name</div>
      <div class="col" style="color: gray;">Life Assured Name</div>
      <div class="col" style="color: gray;">Address</div>
      <div class="w-100"></div>
      <div class="col" style="color: black; font-weight: bold;">John Abraham</div>
      <div class="col" style="color: black; font-weight: bold;">Corona Kavach</div>
      <div class="col" style="color: black; font-weight: bold;">Bangalore</div>
      </div>
      <br>
      <div class="row">
        <div class="col" style="color: gray;">Email</div>
        <div class="col" style="color: gray;">Status</div>
        <div class="col" style="color: gray;">Submission Date</div>
        <div class="w-100"></div>
        <div class="col" style="color: black; font-weight: bold;">johnabb564@gmail.com</div>
        <div class="col">
            <button class="col btn btn-warning btn-sm" style="font-weight: bold; color: whitesmoke;">UW Progress</button>

        </div>
       
        <div class="col" style="color: black; font-weight: bold;">01/12/2021</div>
        </div>
    </div>
  </div>
 

