.card {
    margin-top: 70px;
    margin-left: 200px;
    width: 70%;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    overflow: hidden;
  }
 
  .card-header {
    background-color: #1c3a56;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
 
  .fa-user-circle {
    float: left;
    font-size: 50px;
    margin-top: 5px;
  }
  .div1 {
    overflow:auto;
  }
  .div2 {
    float: left;
    margin-left: 20px;
  }
  .icon{
    font-size: 25px;
  }
 
 

