<br>
<div class="new-applicants-wrapper col px-md-8">
   Total Applicants  &nbsp;
   <select class="border border-secondary">       
    <option value="All policies" selected>All policies</option>
    <option value="volvo">Life Insurance</option>
    <option value="saab">Bike insurance</option>
  </select>
  &nbsp;
  <select class="border border-secondary">       
    <option value="All policies" selected>All policies</option>
    <option value="volvo">Life Insurance</option>
    <option value="saab">Bike insurance</option>
  </select>
  &nbsp;
  <button type="button" class="btn btn-outline-primary mr-2">UW Progress</button>
  &nbsp;
  <button type="button" class="btn btn-outline-primary mr-2">Submitted</button>
  &nbsp;
  <button type="button" class="btn btn-outline-primary mr-2">Customer to Confirm </button>
    <div class="float-end">
      
      </div> 
       <table  class="table table-curved table-striped table-bordered mt-4" style="width: 90%;">
          <thead>
            <tr>
          <th scope="col">Policy Owner  </th>
          <th scope="col">Life Insured  </th>
          <th scope="col">Product Type   </th>
          <th scope="col">Application num  </th>
          <th scope="col">Date   </th>
          <th scope="col">SA  </th>
          <th scope="col">status  </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>DC03</td>
          <td>jhon</td>
          <td>Life Protect</td>
          <td>12345</td>
          <td>12-30-2021</td>
          <td>100.000</td>
          <td>UW</td>
        </tr>
        <tr>
          <td>DC03</td>
          <td>jhon</td>
          <td>Life Protect</td>
          <td>12345</td>
          <td>12-30-2021</td>
          <td>100.000</td>
          <td>UW</td>
        </tr>
        <tr>
          <td>DC03</td>
          <td>jhon</td>
          <td>Life Protect</td>
          <td>12345</td>
          <td>12-30-2021</td>
          <td>100.000</td>
          <td style="color:red;">Rejected</td>
        </tr>
        <tr>
          <td>DC03</td>
          <td>jhon</td>
          <td>Life Protect</td>
          <td>12345</td>
          <td>12-30-2021</td>
          <td>100.000</td>
          <td style="color:green;">UW Approved</td>
        </tr>
      </tbody>
    </table>
  </div>