<div class="row">
    <div class="col-13">
        <div class="card">
    <div class="card-header">
      <div class="div1"><i class="fas fa-user-circle"></i>
      <div class="div2">
        <a style="margin-top: 10px;">John Abraham</a>
        <br>
        <a style="margin-top: 10px; font-size: 15px; color: gray;">8977665654</a>
      </div>
    </div>
    <button id="payment">Send Payment Link</button>
    <div class="icon">
      <i class="far fa-edit"></i> &nbsp;
      <i class="fas fa-phone-square"></i> &nbsp;
      <i class="fas fa-envelope"></i>
    </div>
    </div>
    <div class="card-body">
      <div class="row">
      <div class="col" style="color: gray;">Policy Number</div>
      <div class="col" style="color: gray;">Product name</div>
      <div class="col" style="color: gray;">Date of Issue</div>
      <div class="col" style="color: gray;">Renewal Date</div>
      <div class="w-100"></div>
      <div class="col" style="color: black; font-weight: bold;">102773423</div>
      <div class="col" style="color: black; font-weight: bold;">Corona Kavach</div>
      <div class="col" style="color: black; font-weight: bold;">12/10/2020</div>
      <div class="col" style="color: black; font-weight: bold;">04/12/2024</div>
      </div>
      <br>
      <div class="row">
        <div class="col" style="color: gray;">Policy Holder</div>
        <div class="col" style="color: gray;">NIRC Number</div>
        <div class="col" style="color: gray;">Submission Date</div>
        <div class="col" style="color: gray;">Total Sum insured</div>
        <div class="w-100"></div>
        <div class="col" style="color: black; font-weight: bold;">John Smith</div>
        <div class="col" style="color: black; font-weight: bold;">102773423</div>
        <div class="col" style="font-weight: bold; color: black;">12/10/2020</div>
        <div class="col" style="color: black; font-weight: bold;">$200,000</div>
        </div>
        <br>
        <div class="row">
            <div class="col" style="color: gray;">Address</div>
            <div class="col" style="color: gray;">Email</div>
            <div class="col" style="color: gray;">Total Premium</div>
            <div class="col" style="color: gray;">Amount Payable</div>
            <div class="w-100"></div>
            <div class="col" style="color: black; font-weight: bold;">California, USA</div>
            <div class="col" style="color: black; font-weight: bold;">johnSmi@gmail.com</div>
            <div class="col" style="font-weight: bold; color: black;">$1027</div>
            <div class="col" style="color: black; font-weight: bold;">$1027</div>
            </div>
            <br>
        <div class="row">
            <div class="col-3" style="color: gray;">Period of Insurance</div>
            <div class="col-3" style="color: gray;">Status</div>
            <div class="col-3" style="color: gray;">Insured Policy Holder</div>

            <div class="w-100"></div>
            <div class="col-3" style="color: black; font-weight: bold;">20 years</div>
            <div class="col-3">
                <button class="col" style="font-weight: bold; color: whitesmoke; background-color: green; display: inline-block;">UW Progress</button>
            </div>
            
            <div class="col-3" style="font-weight: bold; color: black;">John Smith</div>
    </div>
  </div>
        </div>
        <br>
  <div class="col-11">
  <app-policy></app-policy>
  </div>
  </div>
 

