<div class="container">
    <i class="fa-solid fa-less-than" style="margin-top: 10px;"></i>&nbsp; &nbsp;
    <span class="text" style="font-weight: bolder; margin-top: 10px;">Renewal</span>
</div>
<div><br></div>
<div class="container">
    <select class="dropdown">
        <option>All Policies</option>
        <option>Health</option>
        <option>Documents</option>
        <option>Gallery</option>
    </select>
    <select class="dropdown">
        <option>All Policies</option>
        <option>Health</option>
        <option>Documents</option>
        <option>Gallery</option>
    </select>
</div>
<br>
<table class="table table-striped">
    <thead>
        <tr style="background-color: rgb(250, 245, 245);">
            <th>Policy No.</th>
            <th>Prd Type &nbsp; <i class="fa-sharp fa-solid fa-up-down"></i></th>
            <th>Validity</th>
            <th>Last Paid</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><i class="fas fa-user-circle" style="font-size: 20px;"></i> &nbsp; 106773542</td>
            <td>Protect Plus</td>
            <td>12/07/2021</td>
            <td><a href="url">Pay Now</a></td>
            <td>(91) 87634524354</td>
            <td><i class="far fa-envelope" style="color: rgb(120, 200, 232); font-size: 20px;"></i> &nbsp;&nbsp; <i
                    class="fal fa-trash-alt" style="color: red ; font-size: 18px;"></i></td>
        </tr>
        <tr>
            <td><i class="fas fa-user-circle" style="font-size: 20px;"></i> &nbsp; 106773542</td>
            <td>Protect Plus</td>
            <td>12/07/2021</td>
            <td><a href="url">Pay Now</a></td>
            <td>(91) 87634524354</td>
            <td><i class="far fa-envelope" style="color: rgb(120, 200, 232); font-size: 20px;"></i> &nbsp;&nbsp; <i
                    class="fal fa-trash-alt" style="color: red ; font-size: 18px;"></i></td>
        </tr>
        <tr>
            <td><i class="fas fa-user-circle" style="font-size: 20px;"></i> &nbsp; 106773542</td>
            <td>Protect Plus</td>
            <td>12/07/2021</td>
            <td><a href="url">Pay Now</a></td>
            <td>(91) 87634524354</td>
            <td><i class="far fa-envelope" style="color: rgb(120, 200, 232); font-size: 20px;"></i> &nbsp;&nbsp; <i
                    class="fal fa-trash-alt" style="color: red ; font-size: 18px;"></i></td>
        </tr>
        <!-- add more rows as needed -->
    </tbody>
</table>