   <div class="row m-3 mt-0">
        <div class="col-md-3">
            <div class="card" style="border: none; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15)" (click)="newleads()">
                <div class="card-body">
                    <div class="row">
                        <div class="col-7">
                            <h2 class="card-title" style="font-size: 30px; color: rgb(4, 87, 120);">04</h2>
                        </div>
                        <div class="col-4">
                            <p><i class="fas fa-chart-line" style="font-size: 20px;color: rgb(77, 239, 196);"></i></p>
                        </div>
                        <p class="card-text">New Leads</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card"style="border: none; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15)">
                <div class="card-body">
                    <div class="row">
                        <div class="col-7">
                            <h3 class="card-title" style="font-size: 30px; color: rgb(59, 6, 250);">06</h3>
                        </div>
                        <div class="col-4">
                            <p><i class="far fa-file-check" style="font-size: 20px;color: rgb(114, 206, 243);"></i></p>
                        </div>
                        <p class="card-text">Total Claim</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card"style="border: none; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15)" (click)="renewal()">
                <div class="card-body">
                    <div class="row">
                        <div class="col-7">
                            <h3 class="card-title" style="font-size: 30px; color: rgb(87, 202, 247);">08</h3>
                        </div>
                        <div class="col-4">
                            <p><i class="fas fa-sync-alt" style="font-size: 20px;color: rgb(251, 87, 6);"></i></p>
                        </div>
                        <p class="card-text">Renewal</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card"style="border: none; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15)" (click)="expired()">
                <div class="card-body">
                    <div class="row">
                        <div class="col-7">
                            <h3 class="card-title" style="font-size: 30px; color: rgb(247, 165, 33);">02</h3>
                        </div>
                        <div class="col-4">
                            <p><i class="far fa-file-check" style="font-size: 20px;color: rgb(231, 41, 12);"></i></p>
                        </div>
                        <p class="card-text">Expired</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
