<h5 style="margin-left:100px;  margin-top:20px; font-size: large; font-weight: 400; font-style: bold;">Dashboard</h5>
<div class="container">
    <div class="row">
        <div class="col-7" style="padding-right: 0;">
            <div class="row borderless  ml-90 mt-0" >

                <app-insights></app-insights>
                
            </div>
            <div class="row borderless rounded-end"style="margin-left: 20px; margin-right:20px" >
 
                <app-new-applicants></app-new-applicants>

            </div>
            <div class="row borderless rounded-end"style="margin-left: 20px; margin-right:20px;">

                <app-all-sales></app-all-sales>
            </div>
        </div>

        <div class="col-5">
            <div class="row borderless rounded-end" style="margin-left: 5px; margin-right:12px; width: 100%;">
                <app-tcp></app-tcp>
            </div>
            <div class="row borderless rounded-end" style="margin-left: 5px; margin-right:12px; width: 100%;">
                <app-schedule></app-schedule>
            </div>
            <div class="row borderless rounded-end" style="margin-left: 5px; margin-right:12px; width: 100%;"> 
                 <app-event></app-event> 
            </div>
        </div>
    </div> 
