<div class="row">
    <p class="col" style="font-size: 18px; font-weight: bold;">Policy Covered</p>
    <button >Cancel policy</button>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Covid-19 Cover</th>
                <th scope="col">18 years</th>
                <th scope="col">25 years</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Unlimited Life Cover</th>
                <td>65 years</td>
                <td>65 years</td>
            </tr>
            <tr>
                <th scope="row">Out patient Benefit</th>
                <td>40 years</td>
                <td>Whole of Life</td>
            </tr>
            <tr>
                <th scope="row">Best Hospitals at affordable</th>
                <td>Single Pay, Regular Pay, Limited Pay: 5 years to 39 years</td>
                <td>Whole of Life</td>
            </tr>
        </tbody>
    </table>
</div>